/* global rules */
* {
    --webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --blackblue: #29294f;
    --whiteblue: #c1e2ed;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* wave section*/
.containerrr {
    position: relative;
    background: var(--whiteblue);
    height: 0vh;
}

.wave {
    position: absolute;
    height: 61px;
    width: 98.5%;
    background: var(--whiteblue);
    bottom: 0;
}

.wave::before,
.wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50% 100%;
}

.wave::before {
    width: 55%;
    height: 100%;
    background-color: var(--whiteblue);
    right: -1.5%;
    top: 40%;
}

.wave::after {
    width: 55%;
    height: 109%;
    background-color: #fff;
    left: -1.5%;
    top: 60%;
}

/* end wave section*/
/* start header */
header {
    /* padding-top: 40px;*/
    padding-bottom: 40px;
    position: relative;
    background-color: var(--whiteblue);
}

header .head-logo {
    width: 100px;
}

header img {
    max-width: 100%;
}

.header-secs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:767px) {
    .header-secs {
        display: block;
    }

    header .head-logo {
        margin: 0 auto;
    }

    header li {
        text-align: center;
    }
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    margin: 0 10px;
}

header ul a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s;
    font-weight: bold;
}

header ul a:hover {
    background-color: #29294f;
    color: #fff;
}

header ul a.active {
    background-color: var(--blackblue);
    color: #fff;
}

/* end header */
/* start landing */
.landing {
    position: relative;
    background-color: var(--whiteblue);
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
}

.landing .landing-img {
    width: 300px;
}

.landing .landing-img img {
    max-width: 100%;
    border-radius: 50%;
}

.landing h1 {
    color: var(--blackblue);
    font-weight: bold;
    font-size: 3.1rem;
}

.landing p {
    width: 400px;
    margin: 30px 0;
    line-height: 2.2;
}

.landing-text-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.landing-text-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: 30%;
    background-color: #a2c3c1;
    font-weight: bold;
    transition: 0.3s;
}

.landing-text-buttons button:hover {
    background-color: var(--blackblue);
    color: #fff;
}

.landing-text-buttons button.active {
    background-color: var(--blackblue);
    color: #fff;
}

@media (max-width:767px) {
    .landing-text {
        text-align: center;
        padding-bottom: 20px;
    }

    .landing-text-buttons {
        justify-content: center;
    }

    .landing p {
        width: 335px;
    }
}

/* end landing */
/* start services */
.services {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}

.services .main-title {
    text-align: center;
}

.services .main-title h2 {
    color: var(--blackblue);
    font-size: 35px;
    font-weight: bold;
}

.services .services-secs {
    padding-top: 40px;
    gap: 35px;
}

.services-box {
    transition: 0.3s;
    background-color: #ffffffbf;
    display: flex;
    gap: 30px;
    border: 1px solid #ccc;
    padding: 20px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.services-box i {
    background-color: var(--blackblue);
    padding: 10px;
    border-radius: 7px;
    font-size: 20px;
    color: var(--whiteblue);
}

.services-box p {
    line-height: 2;
}

.services-box h3 {
    font-weight: bold;
    color: var(--blackblue);
}

.services-box.active {
    background: linear-gradient(0.9turn, #3f87a6, var(--whiteblue));
}

.services-box:hover {
    background: linear-gradient(0.9turn, #3f87a6, var(--whiteblue));
}

.fancy-border {
    width: 386px;
    height: 397px;
    background-color: var(--whiteblue);
    position: absolute;
    right: 2%;
    top: 24%;
    z-index: -4;
    border-radius: 100% 0% 73% 27% / 43% 32% 68% 57%;
}

@media (max-width:767px) {
    .fancy-border {
        display: none;
    }
}

/* end services */
/* start choose */
.choose {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
}

.choose-imges {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.choose-imges .choos-imges-box {
    text-align: center;
}

.choose-imges img {
    border-radius: 50%;
}

.choose-img-large {
    width: 200px;
}

.choose-img-small {
    width: 100px;
}

.choose-img-xsmall {
    width: 70px;
}

.choose-img-xlarge {
    width: 250px;
}

.choose-text h2 {
    padding-bottom: 25px;
    width: 18rem;
    font-size: 2.4rem;
    color: var(--blackblue);
    font-weight: bold;
}

.choose-text i {
    background-color: var(--blackblue);
    padding: 8px;
    border-radius: 7px;
    font-size: 20px;
    color: var(--whiteblue);
    height: fit-content;
    width: fit-content;
}

.choose-text-sec {
    display: flex;
    gap: 20px;
}

.choose-text-sec p {
    width: 21rem;
}

.choose-text-sec h3 {
    color: var(--blackblue);
}

@media (max-width:767px) {

    .choose-secs {
        gap: 70px;
    }

    /* .choose-text h2 {
        margin: 0 auto;
    } */

    .choose-text i {
        margin: 0 auto;
    }

    .choose-text-sec {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .choose-text-par {
        text-align: center;
    }

    .choose-text-par p {
        margin: 0 auto;
    }
}

/* end choose */
/* start other */
.other {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    background-color: aliceblue;
    z-index: -10;
}

.other-secs {
    gap: 140px;
}

.other-box {
    z-index: 200;
    border-radius: 0% 100% 0% 100% / 79% 32% 68% 21%;
    background: linear-gradient(0.9turn, #3f87a6, var(--whiteblue));
}

.other-box h2 {
    font-size: 3rem;
    width: 2rem;
    font-weight: bold;
    color: var(--blackblue);
}

.other-box p {
    width: 21rem;
    line-height: 2;
}

.other-box-cards {
    display: flex;
}

.other-box-1 {
    background: linear-gradient(0.9turn, #3f87a6, var(--whiteblue));
    z-index: 1;
    scale: 1.1;
    box-shadow: 0px 0px 21px -7px;
}

.other-box-1 i {
    background-color: white;
    padding: 8px;
    border-radius: 7px;
    font-size: 20px;
    color: var(--whiteblue);
    height: fit-content;
    width: fit-content;
}

.other-box-2 {
    background-color: white;
    position: relative;
    left: -20px;
    z-index: 0;
}

.other-box-cards i {
    margin: 30px 0;
}

.other-box-2 i {
    background-color: var(--blackblue);
    padding: 8px;
    border-radius: 7px;
    font-size: 20px;
    color: var(--whiteblue);
    height: fit-content;
    width: fit-content;
}

.other-box-cards div {
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

.other-box-cards button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: 100%;
    font-weight: bold;
    transition: 0.3s;
    margin: 30px 0 10px;
}

.other-box-1 button {
    background-color: white;
}

.other-box-2 button {
    background-color: var(--blackblue);
    color: #fff;
}

.fancy-border-other {
    z-index: 100;
    left: 0;
    border-radius: 0% 100% 0% 100% / 79% 32% 68% 21%;
    width: 548px;
    height: 397px;
    background: linear-gradient(0.9turn, #3f87a6, var(--whiteblue));
    position: absolute;
    top: 24%;
}

.fancy-border-other-cards {
    width: 200px;
    height: 200px;
    background: var(--whiteblue);
    border-radius: 50% !important;
    position: absolute;
    right: 4%;
    top: 38%;
    z-index: -1;
}

@media(max-width:998px) {
    .fancy-fancy {
        display: none;
    }
}

@media(max-width:767px) {
    .other-secs {
        gap: 70px;
    }

    .other-box-cards {
        flex-direction: column;
        gap: 30px;
    }

    .other-box-2 {
        left: 0;
    }

    .other-box-1 {
        scale: 1;
        box-shadow: none;
    }
}

/* end other */
.other-container {
    position: relative;
    background: aliceblue;
}

.other-container .wave {
    position: absolute;
    height: 70px;
    width: 98%;
    background: aliceblue;
    bottom: 0;
}

.other-container .wave::before,
.other-container .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
}

.other-container .wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
}

.other-container .wave::after {
    width: 55%;
    height: 100%;
    background-color: aliceblue;
    left: -1.5%;
    top: 40%;
}